<div class="topBar">
    <img id="logo" src="../assets/logotipo-white.svg"/>
</div>
<div class="card">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código da rota</th>
      <th scope="col">Rota</th>
      <th scope="col">Placa do veículo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Atualização em tempo real</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of vehicleData; index as i">
    <tr *ngFor="let vehicle of data.vehicles">  
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ data.routeCode}}</td>     
      <td>{{ data.routeMnemonic}}</td> 
      <td>{{ vehicle.plate}}</td>
      <td>{{ translate(data.predictionType)}}</td>  
      <td id="realTime">{{ data.hasRealTime == true ? 'SIM' : 'NÃO'}}</td>
    </tr>
    </ng-container>
    </tbody>
  </table>
</div>